  $hd-placeholder-x: 0px;
  $hd-placeholder-y: 0px;
  $hd-placeholder-offset-x: 0px;
  $hd-placeholder-offset-y: 0px;
  $hd-placeholder-width: 110px;
  $hd-placeholder-height: 110px;
  $hd-placeholder-total-width: 110px;
  $hd-placeholder-total-height: 110px;
  $hd-placeholder-image: '../images/sprites/hd-all.png';
  $hd-placeholder: 0px 0px 0px 0px 110px 110px 110px 110px '../images/sprites/hd-all.png';

